@import "./variables.module.scss";

.layout {
  position: relative;
  background: $layout-gradient;

  &__inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: $header-height 32px 50px;

    @media screen and (max-width: 660px) {
        padding: $header-height 24px 50px;
    }
  }
}
