@import "./variables.module.scss";

.navbar {
    &__list {
        display: flex;
        column-gap: 24px;
        height: 100%;
    }

    &__item {
        color: $light-color;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        transition: $regular-transition;

        &:hover {
            color: $gray-color;
        }

        &_desktop {
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
    }
}